

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
	font: 14px/1.9 'Noto Sans JP',游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #fff;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}



.container {
	width:100%;
	margin: 0 auto;
}

header {
	text-align: center;
}

h1 {
font-size: 32px;
font-family: 'Poppins', sans-serif;
letter-spacing: 6px;
text-align: center;
padding: 10px 0;
}

header img {
	width: 80%;
}



.about h2 {
	font-size: 50px;
	text-align: left;
	letter-spacing: 20px;
	line-height: 80px;
	margin-bottom: 40px; 
}

.about p {
	text-align: left;
	font-size: 12px;
	letter-spacing: 4px;
	line-height: 30px;
}

.about {
	margin: 100px 200px;
}

.about-left {
	width: 50%;
	float: left;

}

.about-right {
	width: 50%;
	float: right;
	text-align: right;
	
}

.about-right img {
	width: 80%;
}

/* ヘッダー
------------------------------------------------------------*/


/* フッター
------------------------------------------------------------*/
footer{
	padding: 50px 10px 50px 0;
	text-align: center;
	font-size: 12px;
}


/* RESPONSIVE 設定
------------------------------------------------------------*/


@media screen and (max-width: 960px){

.about-left {
	width: 100%;
	clear: both;
	
}

.about-right {
	width: 100%;
	clear: both;
	text-align: center;

}

.about h2 {
	font-size: 40px;
	text-align: center;
	letter-spacing: 20px;
	line-height: 64px;
	margin-bottom: 20px; 
}

.about p {
	text-align: center;
	font-size: 12px;
	letter-spacing: 4px;
	line-height: 30px;
	margin-bottom: 40px;
}

.about {
	margin: 40px 100px;
	height: 600px;
}

.about-right img {
	width: 60%;
}


}

@media screen and (max-width:640px){

header img {
	width: 86%;
}

.about {
	margin: 0 auto;
	width: 86%;
}

.about-right img {
	width: 76%;
}


.about h2 {
	margin-top: 32px;
	margin-bottom: 10px;
	font-size: 28px;
	letter-spacing: 14px;
	line-height: 44px; 
}

.about p {
	text-align: center;
	font-size: 12px;
	letter-spacing: 4px;
	line-height: 30px;
	margin-bottom: 40px;
}

h1 {
font-size: 24px;
font-family: 'Poppins', sans-serif;
letter-spacing: 6px;
text-align: center;
padding: 14px 0;
}



}

@media screen and (max-width: 1200px){



}